*{
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
}

button{
    width: 120px;
    height: 120px;
    margin: 0px 20px 0px 20px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: aliceblue;
    font-size: 12pt;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

button:active {
  background-color: #bad7f7;
  transform: translateY(2px);
}